.trailer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #120f0f;
  color: #fff;
  padding: 20px;
}

.back-button {
  align-self: flex-start;
  margin-bottom: 20px;
  border-radius: 20px;
  border-color: gold;
  color: gold;
  transition: 0.3s;
}

.back-button:hover {
  background-color: gold;
  color: black;
}

.react-player-wrapper {
  position: relative;
  padding-top: 40%;
  width: 100%;
  max-width: 800px;
  height: auto;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
